<section class="blog_area single-post-area p_120">
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h4>
          Edit Talents
        </h4>
        {{#if main_talent}}
          {{! main talent editing form }}
          {{#each main_talent}}
          <form action="/admin/edit/main_talent/{{this.m_t_id}}" method="post">
            
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-4 col-md-2">
                    <label>
                      Main Talent Name
                    </label>
                  </div>
                  <div class="col-lg-8 col-md-10">
                    <input
                      type="text"
                      name="mtalent"
                      value="{{this.m_t_name}}"
                      required
                      class="single-input"
                     />

                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-4 col-md-2">
                    <label>
                      Main Talent Description
                    </label>
                  </div>
                  <div class="col-lg-8 col-md-10">
                    <input
                      type="text"
                      name="mtdescription"
                      value={{this.m_t_description}}
                      required
                      class="single-input"
                     />

                  </div>
                </div>
              </div>
              <div class="mt-10">
                <button
                  style="float: center;"
                  type="submit"
                  class="btn btn-outline-primary"
                >
                  Edit Main Talent
                </button>
              </div>
            
          </form>
          {{/each}}
        {{/if}}

        {{#if sub_talent}}
          {{! main talent editing form }}
          {{#each sub_talent}}
          <form action="/admin/edit/sub_talent/{{this.s_t_id}}" method="post">
            
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-4 col-md-2">
                    <label>
                      Main Talent Category
                    </label>
                  </div>
                  <div class="col-lg-8 col-md-10">
                    <div class="form-select" id="default-select">
                      <select name="m_t_id">
                        <option value="{{this.m_t_id}}">
                          {{this.m_t_name}}
                        </option>
            {{/each}}
            {{#each main_talents}}
                          '
                          <option value={{this.m_t_id}}>
                            {{this.m_t_name}}
                          </option>
                          '  ;
            {{/each}}
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            {{#each sub_talent}}
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-4 col-md-2">
                    <label>
                      Sub Talent Name
                    </label>
                  </div>
                  <div class="col-lg-8 col-md-10">
                    <input
                      type="text"
                      name="s_talent"
                      value="{{this.s_t_name}}"
                      required
                      class="single-input"
                     />

                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-4 col-md-2">
                    <label>
                      Sub Talent Description
                    </label>
                  </div>
                  <div class="col-lg-8 col-md-10">
                    <input
                      type="text"
                      name="s_t_description"
                      value={{this.s_t_description}}
                      required
                      class="single-input"
                     />

                  </div>
                </div>
              </div>
              <div class="mt-10">
                <button
                  style="float: center;"
                  type="submit"
                  class="btn btn-outline-primary"
                >
                  Edit Sub Talent
                </button>
              </div>
            {{/each}}
          </form>
        {{/if}}
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>