{{! <div class="row"> }}
{{! <div class="col-lg-3"></div>
<div class="col-lg-9"> }}
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="home_left_img">
            <img src="img/banner/home-left-1.png" alt="" />
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner_content">
            <br />
            <br />
            <br />
            <h3>
              Welcome to
            </h3>
            <h4>
              Service Pola
            </h4>
            <p>
              You will begin your career here.so welcome again to Sri Lnkan Parttime Job Portal
            </p>
            <hr>
            <form action="/search" method="GET" class="form-inline active-cyan-3 active-cyan-4">
              <div class="col-lg-9 col-md-9">
                <input
                  type="text"
                  name="search"
                  placeholder="Search the service you want"
                  onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Search the service you want'"
                  class="single-input circle"
                  style="background:#e5fafb;"
                 />

              </div>
              <div class="mt-10">
                <button
                  type="submit"
                  class="genric-btn info-border circle arrow"
                  style="float: right;margin-top: -12px"
                >
                  Search
                  <span class="lnr lnr-arrow-right"></span>
                </button>
              </div>
            </form>
            <hr />
            <h3 class="mb-30 title_color">
              <center>
                Create a New Account
              </center>
            </h3>
            <form action="/registerfornt" method="post">
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <label></label>
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <input
                      type="text"
                      name="name"
                      placeholder="User Name"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'First Name'"
                      class="single-input circle"
                      required
                      style="background:#e5fafb;"
                     />

                    {{#if namer}}
                      <p style="color:red">
                        {{this.namer}}
                      </p>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <label></label>
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <input
                      type="email"
                      name="email"
                      placeholder="Email address"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Email address'"
                      class="single-input circle"
                      style="background:#e5fafb;"
                      required
                     />

                    {{#if emailer}}
                      <p style="color:red">
                        {{this.emailer}}
                      </p>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <label></label>
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <input
                      type="text"
                      name="phone_no"
                      placeholder="Tel Phone Number"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Tel Phone Number'"
                      class="single-input circle"
                      style="background:#e5fafb;"
                      required
                     />

                    {{#if phone_noer}}
                      <p style="color:red">
                        {{this.phone_noer}}
                      </p>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <label></label>
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <textarea
                      class="single-textarea circle"
                      name="dis"
                      placeholder="Discribtion About User Self"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Discribtion About User Self'"
                      style="background:#e5fafb;"
                      required
                    ></textarea>
                    {{#if diser}}
                      <p style="color:red">
                        {{this.diser}}
                      </p>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <label></label>
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Password'"
                      class="single-input circle"
                      style="background:#e5fafb;"
                      required
                     />

                    {{#if passworder}}
                      <p style="color:red">
                        {{this.passworder}}
                      </p>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="mt-10">
                <div class="row">
                  <div class="col-lg-3 col-md-3">
                    <label></label>
                  </div>
                  <div class="col-lg-9 col-md-9">
                    <input
                      type="password"
                      name="re_password"
                      placeholder="RE Password"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'RE Password'"
                      class="single-input circle"
                      style="background:#e5fafb;"
                      required
                     />

                    {{#if re_passworder}}
                      <p style="color:red">
                        {{this.re_passworder}}
                      </p>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="mt-10">
                <button
                  type="submit"
                  class="genric-btn info-border circle arrow"
                  style="float: right;"
                >
                  Sign Up
                  <span class="lnr lnr-arrow-right"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{! <h3>this is lading page man</h3> }}
<!--================Talents Area =================-->
<section class="feature_area p_120">
  <div class="container">
    <div class="main_title">
      <h3>
        Services we povide for you
      </h3>
      {{! <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p> }}
    </div>
    <div class="feature_inner row">
      {{#each main_talents}}
        <div class="col-lg-3 col-md-6 brand work">
          <div class="projects_item">
            <img class="img-fluid" src="img/projects/projects-5.jpg" alt="" />
            <div class="projects_text">
              <a href="sub_category{{this.m_t_id}}">
                <h4>
                  {{this.m_t_name}}
                </h4>
              </a>
              <p>
                {{this.m_t_description}}
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>
<!--================End of Talents Area =================-->
{{! </div>
</div> }}