<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Service Pola</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="vendors/linericon/style.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="vendors/animate-css/animate.css">
        <link rel="stylesheet" href="vendors/flaticon/flaticon.css">
        <!-- main css -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <style>
            .img {
  border-radius: 50%;
}
    

        </style>
    </head>

    <body>
        
        <!--================Header Menu Area =================-->
        <header class="header_area">
            <div class="main_menu" id="mainNav">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container box_1620">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="/home"><h3>Service Pola</h3></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							{{#if isAuthenticated}}
                            <img class="img" src={{nav_image}} height="42" width="42">
                            {{else}}
                            <span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
                            {{/if}}
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav  menu_nav ml-auto">
								
                                {{#if isAuthenticated}}
                                {{!-- <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li> --}}
                                <li class=" nav-item submenu dropdown">
                                     
									<a href="#" class=" nav-link dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >{{this.nav_name}} <nbsp><nbsp></nbsp><img class="img" src={{nav_image}} height="42" width="42"></a>
									
                                    <ul class="dropdown">
										<li class="nav-item" ><a class="nav-link" href="/post1">Profile</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/update_details">Update Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
									</ul>
                                     
								</li> 
                                {{else}}
                               
                                
								
            <li class="nav-item" style="
    margin-right: 10px;
    width: 250px;
    border-right-width: 10px;
    padding-right: 0px;"><form action="/login" method="post"><div class="mt-10">
                                    
              <div class="row">
              <div class="col-lg-2 col-md-2" style=" margin-top: -10px;">
              <label>Email</label>
              </div>
              <div class="col-lg-12 col-md-12" style=" margin-top: -10px;">
              <input
                type="email"
                name="username"
                placeholder="Email"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Email'"
                 style="background:#e5fafb;height:90%;width:250px"
                required
                class="single-input"
               
               />
               </div>
            </div>
            </li>
                                <li class="nav-item"  style="
    margin-right: 10px;
    width: 250px;
    border-right-width: 10px;
    padding-right: 0px;"><div class="mt-10">
              <div class="row">
              <div class="col-lg-2 col-md-2" style=" margin-top: -10px;">
              <label>Password</label>
              </div>
              <div class="col-lg-12 col-md-12" style=" margin-top: -10px;">
              <input
                type="password"
                name="password"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'Password'"
                 style="background:#e5fafb; height:90%;width:250px"
                required
                class="single-input"
                
               />
                </div>
            </div>
            <li class="nav-item"  style="
    
    width: 150px;
    border-right-width: px;
    padding-right: 0px;">
            <button 
                type="submit"
                class="genric-btn info-border circle arrow small"
                style=" margin-top: 15px;  "
              >
                Log In
                <span class="lnr lnr-arrow-right"></span>
              </button>
            </li>

            </div></form></li>
             
                                {{/if}}
                                
                            
								
								
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
        </header>

     {{{body}}}

<footer class="footer_area p_120" style="
    padding-bottom: 0px;
    padding-top: 20px;
">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-6 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>About our web site</h3>
        					</div>
        					<p>Sample discription of our web site</p>
        				</aside>
        			</div>
        			<div class="col-lg-6 col-sm-6">
        					<div class="f_title">
        						<h3>Feel free to give your feedback</h3>
        					</div>
        					<p style="color: #ffffff">We would like to know your ideas to develop this site more attractively</p>
        					<div>
                                <form action="/suggestions" class="form-group" method="post">
                                	<div class="input-group">
                                        <input name="idea" class="form-control" id="idea" placeholder="Enter your idea" required="" type="text">
                                    </div><br>
                                    
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
        			</div>
        			{{!-- <div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Follow Me</h3>
        					</div>
        					<p>Let us be social</p>
        					<ul class="list">
        						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
        						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        						<li><a href="#"><i class="fa fa-behance"></i></a></li>
        					</ul>
        				</aside>
        			</div> --}}
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
        
        
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/popper.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/stellar.js"></script>
        <script src="vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
        <script src="vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="vendors/isotope/isotope-min.js"></script>
        <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="vendors/counter-up/jquery.waypoints.min.js"></script>
        <script src="vendors/counter-up/jquery.counterup.min.js"></script>
        <script src="js/mail-script.js"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="js/gmaps.min.js"></script>
        <script src="js/theme.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>